.grid {
  display: grid;
  gap: 10px;
  height: 50vh;
  font-size: 20px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: violet;
}

.content {
  background-color: red;
}

.nav {
  background-color: yellowgreen;
}

.footer {
  background-color: brown;
}
